modules = ["web", "python-3.11", "nodejs-20"]
run = "python run main.py"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "python run main.py"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 44694183
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
